<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<form action="/removepunc" method="get">
    <textarea name="text" id="" cols="30" rows="10"></textarea><br>
    <input type="checkbox" name="removepunc">Remove the Punctution<br>
    <input type="checkbox" name="full_caps">CapitalizeFirst<br>
    <input type="checkbox" name="newline_remove">Remove New Line<br>
    <input type="checkbox" name="space_remover">Space Remover<br>
    <input type="checkbox" name="character_count">Count The Total Number of the Character<br>
    <button type="submit">Text And Analyze</button>
</form>

<!--Use of params :- -->
<!--My name is {{ name }} and i  am from {{ place }}?-->
</body>
</html>