<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Navigator</title>
</head>
<body>
<h1>Navigation Bar</h1><br>

<h2> <em> Aadarsh Wadile's Dashboard </em></h2>

<ol>
    <li><a href="https://www.instagram.com/aadarsh.wadile/?hl=en"><h2> Insta Profile </h2></a></li>
    <li><a href="https://in.linkedin.com/in/aadarsh-wadile-068b36220"><h2> Linkdin Profile </h2></a></li>
    <li><a href="https://github.com/Dmusk/"><h2> Check My Repo on Github </h2></a></li>
</ol>


</body>
</html>